body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
head{
    display: none;
    
}
h5{
    display: none;
}
header{
    z-index: 5;
    height: 100px;
    background-color: #DAD7C8;
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    justify-content: space-around;
    align-items: center;
    h3{
        margin: 0%;
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
        color: #243c23;
        /* height: 70px; */
        width: 350px;
        /* padding: 50px; */
        text-align: center;
        /* padding-top: 40px; */ 
        
    }
    #logo1{
            display: inline-block;
            /* background-image: url("symbol.jpg"); */
            width: 150px;
            /* height: 60px; */
    }
    h3:hover{
        background-color: #d5ca92;
        /* font-size: 26px; */
        transition-duration: 50ms;
    }

}
aside{
    /* margin: 0; */
    height: 700px;
    img{
        filter: brightness(40%);
    }
    h1{
        padding: 20px;
        font-size:50px;
        font-weight: 700;
        font-family:fangsong;
        letter-spacing: 1px;
        background-color: #243c2300;
        position: absolute;
        top :200px;
        left: 480px;
        color: #DAD7C8;
        /* text-shadow: 1px 1px #232a3cc5; */
        b{
            font-size: 58px;
            margin-left: 130px;
            margin-bottom: 30px;
        }
        if{
            font-size: 38px;
            margin-left: 10px;
        }
    }
}
h2{
    margin: 0;
    width: 100%;
    height: 30px;
    background-color: #DAD7C8;
    color: #243c23;
    font-family: fangsong;
    text-align: center;
    font-size: 36px;
    padding: 30px;
    letter-spacing: 0.5px;
    /* text-shadow:1px 1px #232a3cc5; */

}
section{
    display: grid;
    gap: 3px 3px;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, 400px);
    background-color: #DAD7C8;
    font-family: fangsong;
    font-size: large;
    color: #DAD7C8;
    planter{
        /* width: 50%; */
        /* height: 400px; */
        background-color: #1a30299e;
        /* background-color: #1a3029; */

        
        h4{
        z-index: 4;
        position: relative;
        left:440px;
        bottom: 400px;
    }
    } 
    .one,.two,.three,.four,.five,.six,.seven,.eight,.nine,.ten{
        transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
        transform-origin: center;
    }

    
    
    
}
#tag1,#tag2,#tag3{
    display: none;
}
balcony{
    img{
        width: 100%;
        height: 800px;
    }
}
plant{
    display:none;
    
}
.c1,.c2,.c3,.c4,.c5{
    display: none;
}
#projects{
    font-family: 'Courier New', Courier, monospace;
    height: 100px;
    width :170px;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: #243c23;
    margin: 0;
    padding: 0;
    background-color: #DAD7C8;
    
}
#projects:hover{
        background-color: #d5ca92;
        font-size: 27px;
        transition-duration: 1ms;
    }
.z{
    padding: 0%;
    margin: 0%;
}
a[id="enquire"],a[id="Cata"],a[id="contact"],a[id="about"]{
    text-decoration-line:none;
    color: #243c23;
    height: 300px;
    width: 370px;
}
a[id="enquire"]:hover,a[id="Cata"]:hover,a[id="contact"]:hover,a[id="about"]:hover{
    display: inline-block;
    height: 65px;
    width: 170px;
    font-size: 27px;
    background-color: #d5ca92;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.enquire:hover,.Cata:hover,.about:hover,.contact:hover{
    /* height:fit-content; */
    background-color: #d5ca92;

}
/* h3 img[src="logo"]{
    height: 100px;
    width: 120px;
} */
#responsivemenu{
    display: none;
 }
 tag{
    display: none;
 }

balc{
    display: none;
}
#topmost{
    display: none;
}
