/* head{
    display: none;

} */
 body{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    background-color: #DAD7C8;

 }
h5{
    display: none;
    background-color: #DAD7C8;
    height:50px;
    padding: 0;
    margin: 0;
    align-content: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #1a3029;


}
img[alt="maain"]{
    display:none;
}
#tagline{
    display: none;
}
.tag{
    background-blend-mode:lighten;
    background-image: url("fat-plants-2493799_1920.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 40px;
    center{
        z-index: 2;
        padding-top: 10px;
        font-family: 'Courier New', Courier, monospace;
        color: #1a3029;
        font-weight: 600;
        font-size: larger;
    }
    /* .tag3{
        color: #DAD7C8;
    } */

}
/* .tag::before{
    opacity: 0.5; 
    z-index: -1;
    
} */
header{
    display: none;
    h3{
        display: none;
    }
}
#responsivemenu{
    display:inline-block;
    font-size: xx-large;
    background-color: #1a30299e;

}
h2{
    text-align: center;
    color: #1a3029;
    background-color: #d5ca92cb;
    margin: 0%;
    padding: 15px;

}
.one,.two,.three,.four,.five,.six,.seven,.eight,.nine,.ten{
    display: none;
}
#section{
    display:none;
}
plant{
    /* display: block; */
    margin-left: 50px;
    center{
        margin: 0%;
        padding: 0%;
        color: #1a3029;
        font-family: 'Courier New', Courier, monospace;
        font-size: large;
        font-weight: 600;
        img{
            height: 300px;
            width: 300px;
            padding: 0%;
            margin: 0%;
        }

    }
    
}
h5:hover{
    background-color: #d5ca92cb;
}

balcony{
    display: none;
}
balc{
    display: flex;
    flex-direction: column;
    justify-content:center;

}